.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.board {
    width: 200px;
    height: 500px;
    border: 2px solid red;
    margin: 0 50px;
    position: relative;
    border-radius: 3px;
}

.scrolltask {
    height: 460px;
    overflow: auto;
    width: 200px;
    position: absolute;
}

.board button {
    height: 40px;
    width: 100%;
    bottom: 0;
    position: absolute;
}