.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
}

.board {
    min-width: 270px;
    height: 500px;
    margin: 25px 50px 0 50px;
    position: relative;
    border-radius: 5px;
    background-color: #F2F2F2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.scrolltask {
    height: 460px;
    overflow: auto;
    min-width: 270px;
    position: absolute;
}

.board button {
    height: 40px;
    width: 100%;
    bottom: 0;
    position: absolute;
    border: none;
    outline: none;
    background-color: #F2F2F2;
    border-radius: 0 0 5px 5px;
}

.board button:hover {
    background-color: rgba(218, 216, 216, 0.781);
}