.task {
    width: 170px;
    height: 75px;
    border: 2px solid blue;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}